/*********CONTACTFORM*********/



.content-primary{

	height:285px;

}

.get-in-touch span {     

    float:right;

    font-size:18px;

    font-weight: bold;

    color:gray;        

}

.get-in-touch .get_touch{

	padding-left:10px;

}

.google-map{

    width:470px;

	float:right;

    padding-left:10px

}

.wpcf7-form{

    float:left;    

    width:440px;    

	margin-left:20px;

	position:relative;

}

.wpcf7-form .wpcf7-submit{

	position:absolute;

	bottom: 18px;

	right: -30px;

	width:63px;

	height:63px;

	border-radius:63px;

	background-image: url(thanh/btn_submit.png);

	background-repeat: no-repeat;

	border-bottom:1px solid white;

}



.wpcf7-form .wpcf7-submit:hover{

	position:absolute;



	bottom: 18px;



	right: -30px;



	width:63px;



	height:63px;



	border-radius:63px;



	background-image: url(thanh/btn_submit_hover.png);



	background-repeat: no-repeat;

	border-bottom:1px solid white;

}

.wpcf7-form input,textarea{



	float:right;



}



.wpcf7-form input{



	size:35px;	



}



.wpcf7-form .left{



    float:left;    



}



.wpcf7-form .icon_img{



    position:absolute; left: 160px;



    padding-top:10px;



}



.wpcf7-form .bottom{



    padding-top:70px;



    padding-left:180px



}



.below-content{



	width:920px;	



}



.below-content img{



	padding-left:460px;



}



.border_bot{



	margin-top:25px;



	border-bottom-width: thick;



	border-bottom-style: double;



	border-bottom-color: #CCCCCC;



}



.footer_contacts .wrapper{



	float:left;



	width:450px;



	margin-left:20px;



    margin-bottom: 30px;



    position:relative;



    



}



.footer_contacts .wrapper img{



	position:absolute;



    left:-100px;



    top:120px



}



.footer_contacts .wrapper ul{



	list-style-type:none;



	margin:0;



	padding:0;



    height: 100px;



	padding-bottom: 30px;



}



.footer_contacts .wrapper ul li{



	float:left;



	width:50%;



}



.footer_contacts .title{



	padding-left:10px;



	background-attachment: scroll;



	background-image: url(images/thanh/icon-ten.png);



	background-repeat: no-repeat;



	background-position: left center;



	font-weight: bold;



	color: #158AFF;



}



/**********PAGE TIN TỨC*******/

.tiplst .title{

	padding-left:20px;
	margin-top:0px;
	margin-bottom:0px;

	background-attachment: scroll;

	background-image: url(images/thanh/icon-ten.png);

	background-repeat: no-repeat;

	background-position: left center;	

}

.tiplst p{

	padding:0;

	margin:0;

	clear:both;

}

.tiplst .title a{
	font-size:14px;

	font-weight: bold;

	color: #158AFF;

	text-decoration:none;

}

.tiplst .title a:hover{
	

	text-decoration:underline;

}

.catnewlst  h2{

	/*float:left;*/

}

.catnewlst2 ul{

	list-style-type:none;

	margin:0;

	padding:0;

}

.catnewlst img{	

	padding-left:5px;

	margin-top:0px;

}

.catnewlst2  h1{	

	margin-top:20px;
	margin-bottom:0px;
	color: #07A9F5;
    	font-family: Arial;
    	font-size: 20px;
    	font-weight: bold;
}

.promot > h2, .catnewlst2  .cat_title{

	background-image:url(images/tai/bgprolst.png);

	background-repeat: no-repeat;

	background-position: left center;	

}

.Eventcont > h2, .catnewlst2 .cat_title{

	background-repeat: no-repeat;

	

	margin-top: 0;

	padding-bottom: 3px;

	padding-left: 47px;

	padding-top: 5px;
}
.Eventcont > h2, .catnewlst2  a{
	font-size: 25px;
	font-weight: normal;
	text-decoration:none;
	color:#000;
}

.Lnewlst a.leftmn_img {

 	padding-left:130px;

}

.Lnewlst a.leftmn_title{

	padding-left:0px;

	height:20px;

}

.Eventcont.promot > a {

	float: right;

}

.Eventcont.event > a {

	float: right;

}

.pm_List_post ul{

    list-style-type:none;

    margin:0;

    padding:0;

}

.pm_List_post ul li{

    

    float:left;

    width:33%;

    padding-right:10px;

	padding-top:20px;

	text-align:center;

}

.pm_List_post ul li img{

    width:100px;

    height:100px;       

}

.pm_List_post h2{

    margin-top:0px;

    margin-bottom:0px;

}

.pm_List_post h2 a{

    font-size:14px;

    color:blue;

    text-decoration:none;

}

.pm_List_post .pm_title{

    font-size:20px;

    color:#52c0fb;    

}

.pm_List_post ul li p {

    /*text-align:left;*/

}

/**********HEADER********/

.topright ul{

	list-style-type:none;	

	margin-left:290px;

	padding:0;

}

.topright select{

	margin-left:355px;

	padding-top:3px;

	padding-bottom:3px;

	float:left;

	border-radius:3px;

	color:#52c0fb;

	font-weight:bold;

	border:1px solid #52c0fb;	

}

.topright .Psym{    

    padding-left:5px;

}

.search_form {

	position:relative;

}

.search_form input[type="text"]{

	background:#07a8f6;

	border:0px;

	margin-right:38px;

	margin-top:0.1px;

	color:white;

	font-weight:lighter;

}

.search_form input[type="submit"]{	

	border:0px;

	background-image:url(thanh/search-icon.png);

	background-repeat:no-repeat;

	background-position:center center;

	width:38px;

	height:30px;

	position:absolute;

	right:0;

	top:0;

}

.search_form input[type="submit"]:hover {



	background-image:url(thanh/search-icon.png);

	background-repeat:no-repeat;

	background-position:center center;

	

}

.search_form input[type="submit"]:active {



	background-image:url(thanh/search-icon.png);

	background-repeat:no-repeat;

	background-position:center center;

	border-top:0px;

}



/******SEARCH********/

#SearchResult{

	position:relative;

}

#SearchResult .title{

	background-image:url(images/tai/bgprolst.png);

	background-repeat: no-repeat;

	background-position: left center;	

	font-size: 25px;

	font-weight: bold;

	margin-top: 0;

	padding-bottom: 3px;

	padding-left: 47px;

	padding-top: 5px;

	position:absolute;

}



#SearchResult .search_result{

    width:45%; 

    height:250px;  

    float:left;

    font-size:14px;

    padding-right:20px;

	padding-top:20px;

}

#SearchResult .search_result  h1{

	font-size:18px;

	padding-left:20px;

	background-attachment: scroll;

	background-image: url(images/thanh/icon-ten.png);

	background-repeat: no-repeat;

	background-position: left center;	

}

#SearchResult .search_result img{

	float:left;

	width:130px;

	padding-right:10px;

}

#SearchResult .search_result a{

	color:#52c0fb;

	text-decoration:none;

}

#SearchResult .search_result a:hover{

	color:#52c0fb;

	text-decoration:underline;
}
/***FOOTER****/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .register {
       margin-left: 20px !important;
   }
}
/*****page_ve_pamas4****/
.Ntecgy .banner {
	margin-top: 10px;

	border-radius: 13px 13px 13px 13px;

	box-shadow: 0 5px 10px 10px #D3D3D3;

	overflow: auto;

	position: relative;

	z-index: 0; 
}
.Ntecgy  .banner .next {

 cursor: pointer;

 position: absolute;

 right: 6px;

 top: 130px;

 z-index: 101;

}

.Ntecgy  .banner .previous {

 cursor: pointer;

 left: 0px;

 position: absolute;

 top: 130px;

 z-index: 101;

}

.Ntecgy .banner li { list-style: none; }

.Ntecgy .banner ul li { float: left; }

.Ntecgy .banner img{
	/*margin-left:15px;*/
	
}

.Ntecgy .banner  > ul {

  margin-top: 0;

  padding-left: 0;

}

.Ntecgy .banner .dots {

 background-color: #5F5F5F;
border-radius: 5px 5px 5px 5px;
box-shadow: 0px 0px 5px #888888;
display: block;
float: right;
height: 22px;
margin-right: 20px;
margin-top: px;
padding-left: 5px;
position: relative;

}

.Ntecgy .dots li {

background-color: white;

border: 2px solid #FFFFFF;

border-radius: 6px 6px 6px 6px;

cursor: pointer;

display: inline-block;

height: 10px;

/*margin: 5px 5px 0 0;*/

text-indent: -999em;

width: 10px; }



.Ntecgy .dots li.active {

background-color: #05aef8 !important;

border-color:#05aef8 !important;

}